<!DOCTYPE html>
<html>
<head>
  <title>Yes</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: 'Comic Sans MS', cursive;
    }
    
    div {
      font-size: 200px;
      font-weight: bold;
      color: black;
    }
  </style>
</head>
<body>
  <div>yes</div>
</body>
</html>
